body{
  background-image: url("../images/LandingPage.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  min-height:100%;
  font-family: "Poppins";
  
}

#heading{
  position: relative;
  z-index: 3;
}
.container-fluid{
  padding: 0% 10%;
  
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);

  z-index: 2;
}